<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zhkj.yhfw">
    <!-- 读写权限 -->
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 录音权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" /> <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 用于获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> <!-- 用于访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 用于写入缓存数据到扩展存储卡 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" /> <!-- 用于申请获取蓝牙信息进行室内定位 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CAMERA" /> <!-- //程序在手机屏幕关闭后后台进程仍然运行 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- service 后台存活 -->
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".paasAct.WithdrawalDefaultActivity"></activity>
        <activity android:name=".paasAct.ConnissionActivity" />
        <activity android:name=".paasAct.QrCodeActivity" />
        <activity android:name=".paasAct.WithdrawlogActivity" />
        <activity android:name=".paasAct.MyTeamActivity" />
        <activity android:name=".paasAct.TeamActivity" />
        <activity android:name=".RegisterActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.winfo.photoselector.ImageSelectorActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.winfo.photoselector.PreviewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.winfo.photoselector.RvPreviewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme" />
        <activity android:name=".paasAct.ContactActivity" />
        <activity android:name=".PacketTimeActivity" />
        <activity android:name=".paasAct.CommonRecordingActivity" />
        <activity android:name=".paasAct.OrderDetailslActivity" />
        <activity android:name=".paasAct.PurseActivity" />
        <activity android:name=".paasAct.CustonServiceActivity" />
        <activity android:name=".paasAct.SafeActivity" />
        <activity android:name=".paasAct.YffwWebActivity" />
        <activity android:name=".paasAct.PeccancyActivity" />
        <activity android:name=".PaaSActivity" />
        <activity
            android:name=".NavigationActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity android:name=".SearchPoiActivity" />
        <activity android:name=".CustomAmapRouteActivity" />
        <activity
            android:name=".RoutingActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".OrderTakingHallActivity" />
        <activity android:name=".BaoTimesActivity" />
        <activity android:name=".InputTipsActivity" />
        <activity android:name=".OrderListActivity" />
        <activity android:name=".TrackSearchActivity" />
        <activity
            android:name=".HomeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="e9ac59f9062ea8100a5bda5b80806c6b" />

        <service android:name="com.amap.api.track.AMapTrackService" />
        <service android:name="com.amap.api.location.APSService" />
        <service android:name=".service.BackService" />
    </application>

</manifest>